.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(17, 145, 102);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar .links{
  text-align: center;
  margin-right: 50px;
}

.links a {
  color: wheat;
  text-decoration: none ;
  border-bottom: 3px solid wheat;
  padding-bottom: 2px;
  margin: 10px;
}

.navbar .user{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.user p {
  font-size: 15px;
  margin-right: 10px;
  color: wheat;
}

.user img {
  font-size: 15px;
  border-radius: 50%;
}

input,textarea{
  font-family:Georgia, 'Times New Roman', Times, serif ;
}

.createpost{
  width: 100%;
  height: auto;
  display:flex;
  justify-content: center;
}

form {
  margin-top: 50px;
  padding: 30px 20px;
  width: 320px;
  border-radius: 7px;
  background-color: wheat;
  backdrop-filter: blur(5px);
  background-color:  rgb(17, 145, 102);
  overflow: hidden;

}

input,textarea {
  padding: 8px 10px;
  margin: 3px 8px 16px 8px;
  background-color: wheat;
  border: 0px transparent;
  border-radius: 5px;
  color:  rgb(17, 145, 102);
  font-size: 16px;
  z-index: 1;
}

.submitForm:hover {
  cursor: pointer;
}